.App {
   height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}

.container{
  display: flex;
  flex-direction: column;
   min-Width: 300px;
  max-Width: 500px;
}

h1{
  color: brown;
  font-size: 44px;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
}




